<div class="container">
 <h1 class="text-center display-4 mt-5 mb-2" >Etec - Lista de Tarefa</h1> 
 <hr> 
<form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm" class="col-md-6 offset-md-3">
    <div class="mb-3">
      <label for="task" class="form-label">Tarefa</label>
      <input type="text" class="form-control" id="task" 
      placeholder="Digite a tarefa a ser realizada"
      ngModel name="task" required>
      <small *ngIf="taskForm.invalid && taskForm.dirty"
       id="task"class="text-danger">Campo Obrigatorio</small>
    </div>
    
    <button [disabled]="taskForm.invalid" type="submit" class="btn btn-primary">Adicionar Tarefas</button>
  </form>
<hr>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome da Tarefas</th>
        <th scope="col">Status</th>
        <th scope="col">Excluir</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngIf="taskArray.length == 0;else elseBlock">
            <h4 class="text-cente">Adicione as tarefas a realizar</h4>
        </tr>
      <tr *ngFor="let task of taskArray; index as i"> 
        <th scope="row">{{i1+1}}</th>
        <td>{{task.taskName}}</td>
        <td><input type="checkbox" (change)="onCheck(i)"> Finalizada</td>
        <td>@<button class="btn btn-danger btn-sm">Excluir</td></tr></tbody>button>
            (click)="onDelete(i)">Excluir<button></button></td></button>
      </tr>
    </tbody>
  </table>

</div>